<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>SCRIBAN products Sheet </title>
    </head>
    <body>
        <ul id='products'>
            
            <li>
                <h2>T-shirt</h2>
                Price: 12.99
            </li>
            
            <li>
                <h2>Hat</h2>
                Price: 9.99
            </li>
            
            <li>
                <h2>Gloves</h2>
                Price: 1.99
            </li>
            
            <li>
                <h2>Skirt</h2>
                Price: 9.99
            </li>
            
            <li>
                <h2>Bikini</h2>
                Price: 15.99
            </li>
            
        </ul>
    </body>
</html>
